.flash-sale-section {
  background: url('/images/flash-sale-back.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.flash-sale-title {
  font-family: 'Amita', cursive;
  color: #a45d00;
}
.flash-sale-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  height: 320px;
  font-size: 0.9rem;
}
.flash-sale-card img {
  max-height: 120px;
  object-fit: contain;
}
.countdown {
  font-size: 1.2rem;
  color: #e69500;
  font-weight: bold;
}

.flash-sale-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.8rem;
  border-radius: 8px;
  padding: 5px 10px;
}

.flash-sale-card .price {
  font-size: 1rem;
  color: #5c2e00;
}

/* Responsive Card Height Fix */
@media (max-width: 576px) {
  .flash-sale-card {
    height: auto;
    
  }
}
.card-link{
  text-decoration: none !important;
  color: inherit !important;
  display: block;
}

