.marquee-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 1rem 0;
}

.marquee-content {
  display: flex;
  gap: 1rem;
  animation: scrollMarquee 40s linear infinite;
  width: fit-content;
  -webkit-animation: scrollMarquee 40s linear infinite;
}
.marquee-wrapper:hover .marquee-content {
  animation-play-state: paused;
}

@keyframes scrollMarquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-item {
  flex: 0 0 auto;
  width: 250px;
}

.modern-book-card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  background-color: white;
}

.img-wrapper {
  height: 200px;
  overflow: hidden;
  margin-top: 30px;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.book-title {
  font-size: 1rem;
  font-weight: 600;
  color: #111827;
}

.author-text {
  font-size: 0.85rem;
  color: #6b7280;
}

.rating-badge {
  font-size: 0.85rem;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .scroll-item {
    width: 200px;
  }

  .img-wrapper {
    height: 250px;
    object-fit: contain;
  }

  .marquee-content {
    animation-duration: 20s;
  }
}
.buy-now-btn {
  margin-top: 0.5rem;
  background-color: transparent;
  color: #4f46e5;
  border: 1px solid #4f46e5;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}

.buy-now-btn:hover {
  background-color: #4f46e5;
  color: white;
}
.top-rated-section{
  padding: 2rem 1rem;
  font-family: 'Amita', serif;
}
.section-title{
  text-align: center;
  color: #ba5b17;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.rating-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

